.container {
  @apply flex flex-col shadow-md justify-evenly dark:bg-gray-900 rounded-2xl overflow-hidden mb-8;

  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.header {
  @apply px-3 py-1 flex flex-row justify-between;
  div:first-child {
    @apply w-3/4;

    h1 {
      font-family:'Righteous';
      @apply text-xl text-gray-800 dark:text-gray-50  overflow-hidden truncate;
    }

    div {
      @apply flex justify-around mt-1;

      h2 {
        font-family: 'Big Shoulders Text';
        @apply text-base  text-gray-600 dark:text-white overflow-hidden truncate;
      }
    }

    h4 {
      @apply text-gray-700 dark:text-gray-200 text-base mt-2;
      font-family: 'Crimson Text';
      span {
        font-family: inherit;
        @apply font-bold dark:text-gray-200;
      }
    }
  }

  div:nth-of-type(2) {
    @apply w-1/4 flex justify-center h-24;
    img {
      object-fit: contain;
    }
  }
}

.content {
  @apply px-2 my-2 leading-snug md:leading-normal dark:text-white md:line-clamp-8 line-clamp-6;
}

.footer {
  font-family: 'Crimson Text';
  @apply flex justify-around mb-2 mt-auto mx-2;
  span {
    font-family: inherit;
    @apply bg-blue-500 text-white rounded-2xl px-3 ml-auto overflow-hidden truncate mx-1;
  }
}

.masonry {
  column-count: 1;
  column-gap: 2rem;
  @apply px-4 py-8;
  @screen md {
    & {
      @apply px-16 py-8;
      column-count: 2;
    }
  }

  @screen lg {
    & {
      column-count: 3;
    }
  }

  @screen 2xl {
    & {
      column-count: 4;
    }
  }
}
