.container {
  @apply flex flex-col shadow-md justify-evenly  rounded-2xl overflow-hidden mb-8;

  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.header {
  @apply px-3 py-1 flex flex-row justify-between;
  div:first-child {
    @apply w-3/4;

    h1 {
      font-family:'Righteous';
      @apply text-xl overflow-hidden truncate font-bold;
    }

    div {
      @apply flex justify-around mt-1;

      h2 {
        font-family: 'Big Shoulders Text';
        @apply text-base overflow-hidden truncate font-light;
      }
    }

    h4 {
      @apply text-base mt-2;
      font-family: 'Crimson Text';
      span {
        font-family: inherit;
        @apply font-bold ;
      }
    }
  }

  div:nth-of-type(2) {
    @apply w-1/4 flex justify-center h-24;
    img {
      object-fit: contain;
    }
  }
}

.content {
  @apply px-2 my-2 leading-snug md:leading-normal  md:line-clamp-8 line-clamp-6;
}

.footer {
  font-family: 'Crimson Text';
  @apply flex justify-around mb-2 mt-auto mx-2 font-extralight;
  span {
    font-family: inherit;
    @apply bg-white text-gray-700 rounded-2xl px-3 ml-auto overflow-hidden truncate mx-1;
  }
}
