@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@400;500&family=Merriweather:wght@300;400&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

body {
  background: linear-gradient(135deg, #01a0b4, #1098d7);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  overflow-x: hidden;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


* {
  margin: 0;
  padding: 0;
  margin-block: 0;
  margin-inline: 0;
  font-family: 'Merriweather';
  @apply text-white;
}

@tailwind utilities;
