.masonry {
  column-count: 1;
  column-gap: 2rem;
  @apply px-4 py-8;
  @screen md {
    & {
      @apply px-16 py-8;
      column-count: 2;
    }
  }

  @screen lg {
    & {
      column-count: 3;
    }
  }

  @screen 2xl {
    & {
      column-count: 4;
    }
  }
}
